# Rust
/target/
**/*.rs.bk
**/mutants.out*/

# Cargo run bin
.bin/

# General
*.temp
*.cache
temp/

# Debugging
*.stackdump
*.pdb
*.ilk
*.exp
*.log

# VSCode
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
*.vsix

# JetBrains
.idea/
*.iml
*.iws

# Vim
*.swp
*.swo

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
[Dd]esktop.ini
*.lnk

# Mac
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out
